<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add</title>
</head>
<body>
    <h1>Add</h1>
    <form th:object="${person}" method="post">
        <table>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input id="name" type="text" th:field="*{name}"/></td>
            </tr>
        </table>
    </form>
</body>
</html>