<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/concertDetails.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/global.css}"/>

</head>
<body>
<script src="/script/concertDetail.js" rel="script" type="text/javascript"></script>

<header>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active">Active</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <img th:src="${shows.thumbnail}" class="card-img" alt="...">
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 th:tex="${shows.name}" class="card-title">Description</h5>
                <p th:text="${shows.description}" class="card-description"></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 th:text="${shows.name}" class="card-title" ></h5>
                <ul class="list-group list-group-flush">
                    <li th:text="${shows.date}" class="list-group-item">Date: </li>
                    <li th:text="${shows.durationTime}"  class="list-group-item">Duration: </li>
                    <li th:text="${shows.capacityLimit}" class="list-group-item">Capacity: </li>
                </ul>
                <br>
                <a href="#" class="btn btn-secondary">Buy now</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>