<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		 <link rel="stylesheet" type="text/css" th:href="@{/styles/global.css}">
		 <link rel="stylesheet" type="text/css" th:href="@{/styles/home.css}">
		<title>Home</title>
	</head>
	<body>
        <div class="background"></div>
		<div class="header">
			<h1>RHashtaLives</h1>
			<div class="buttons">
				<a href="/login">Login</a>
				<a href="/signup">Sign Up</a>
            </div>
            <p class="title">Live shows</p>
            <p class="description">Find you preferred show and watch them from anywhere with your friends!</p>
            <div class="card -first"></div>
            <div class="card -second"></div>
            <div class="card -third"></div>
            <div class="card -fourth"></div>
		</div>
	</body>
</html>
