<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/global.css}">
    <link rel="stylesheet" th:href="@{/styles/login.css}">
    <title>Login</title>
</head>
<body>
<div class="container">
    <div>
        <h1>Login page</h1>
        <form th:action="@{/customer}">
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Invalid username or password.
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">
                    You have been logged out.
                </div>
            </div>
            <div class="form-group">
                <label for="username">Username</label>:
                <input type="text"
                       id="username"
                       name="username"
                       class="form-control"
                       autofocus="autofocus"
                       placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>:
                <input type="password"
                       id="password"
                       name="password"
                       class="form-control"
                       placeholder="Password">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="buttons">
                        <a href="/" th:href="@{/}" class="back">Back to home page</a>
                        <input type="submit"
                               name="login-submit"
                               id="login-submit"
                               class="form-control btn btn-info"
                               value="Log In">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>