<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <thymeleaf th:replace="header :: header"/>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="../static/styles/global.css" /> -->
    <link rel="stylesheet" href="../static/styles/login.css" />
</head>

<body>
    <div class="login-page">

        <div th:replace="action :: action"></div>

        <div class="image-box">
            <div class="thumbnail">
                <img src=""/>
            </div>
        </div>

        <div class="buttons">
            <button>User</button>
            <button>Artist</button>
        </div>

        <div class="data-box">
            <script src="../static/script/login.js"></script>

            <div class="form">
                <form class="login-form">
                    <div class="form-group">
                        <label for="email" class="from-control-label">Email</label>
                        <input type="text" id="email" class="input" required/>
                    </div>

                    <div class="form-group">
                        <label for="password" class="from-control-label">Password</label>
                        <input type="password" id="password" class="input" required/>
                    </div>
                    <button>Login</button>
                    <p class="message">Not Registered? <a href="signup.html">Sign Up</a> </p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>