body{
    background: white;
}

* {
    font-family: 'Roboto', sans-serif;
}

#signup-box {
    position: relative;
    margin: 5% auto;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.image-box {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 800px;
    height: 1066px;
}

.thumbnail .image{
    width: 40%;
}

.buttons {
    position: absolute;
    top: 150px;
    right: 50px;
    box-sizing: border-box;
    padding: 40px;
    width: 500px;
    height: 1066px;
}

.data-box {
    position: absolute;
    top: 250px;
    right: 50px;
    box-sizing: border-box;
    padding: 40px;
    width: 500px;
    height: 1066px;
}

.buttons button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: lightskyblue;
    width: 20%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.buttons button:hover,.buttons button:active {
    background: lightblue;
}

.form label {
    text-align: left;
    top: 100px;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 1px;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: lightskyblue;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,.form button:active {
    background: lightblue;
}

.form .message {
    margin: 15px 0 0;
    color: black;
}